#content{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
button{
    padding: 30px 60px;
    background-color: beige;
    border-radius: 10px;
}
.results{
    margin: 10px;
    font-size: x-large;
}
.draw{
    background-color: orange;
}

.win{
    background-color: green;
}

.lose{
    background-color: red;
}